    * {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :Root {
        --Prudu-font:'Phudu', cursive;
        --DM-Sans:'DM Sans', sans-serif;
        --Jost-font:'Jost', sans-serif;
        --Raleway-font: 'Raleway', sans-serif;
        --Oxanium-font: 'Oxanium', cursive;
        --Comfortaa-font: 'Comfortaa', cursive;
        --white-color: #ffffff;
        --dark-shade: rgba(0, 0, 0, 0.5);
        --red-color: #ff0000;
        --black-color:#000000;
    }


/*--===NAVBAR CSS-----------------------------------------------------------------------------------------------------*/
    .Logo {
        width: 120px;
    }

    .navbar-toggler {
        padding: 2px 6px;
        font-size: 20px;
        line-height: 0.5;
        background: var(--white-color);
    }

/*--===CAROUSEL CSS---------------------------------------------------------------------------------------------------*/

    .carousel-item {
        height: 85vh;
        min-height: 300px;
    }

    .carousel-caption {
        bottom: 150px;
        z-index: 2;
    }

    .carousel-caption h5 {
        font-size: 3.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        /*margin-top: 20px;*/
    }

    .carousel-caption p {
        width: 70%;
        margin: auto;
        font-size: 20px;
        line-height: 2.0;
        font-family: var(--Jost-font)
    }

    .carousel-caption a {
        text-transform: uppercase;
        text-decoration: none;
        background: var(--red-color);
        padding: 5px 20px;
        display: inline-block;
        color: #f4f4f4;
        font-family: 'Syncopate', sans-serif;
        font-weight: 500;
        margin-top: 15px;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    .carousel-caption a:hover {
        background: var(--black-color);
        color: var(--red-color);
    }

    .carousel-inner:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--dark-shade);
        z-index: 1;
    }

    .navbar .start {
        background: var(--red-color);
        color: var(--white-color);
        margin-left: 30px;
        border-radius: 3px;
        font-weight: 600;
        text-decoration: none;
        padding: 0.2rem 0.8rem;
        line-height: 2.0;
        text-transform: uppercase;
        /*font-family: var(--Oxanium-font);*/
        display: flex;
        font-family: 'Syncopate', sans-serif;
    }

    .navbar .start:hover {
        color: var(--red-color);
        background: var(--black-color);
    }

    .navbar .nav-link {
        /*font-family: var(--Jost-font);*/
        font-family: 'Syncopate', sans-serif;
        text-transform: uppercase;
        font-size: 1.1rem;
        /*font-weight: 600;*/
    }

    .navbar-light .navbar-brand {
        letter-spacing: 3px;
    }

    .navbar-light .navbar-brand span {
        color: var(--red-color);
    }

    #links {
        color: var(--black-color);
        letter-spacing: 3px;
    }

    #links:hover {
        color: var(--red-color);
    }

    .w-100 {
        height: 85vh;
    }

/*--===MEDIA QUERY CSS------------------------------------------------------------------------------------------------*/

    @media only screen and (max-width: 767px) {

        .navbar-nav {
            text-align: center;
        }

        .navbar .start {
            display: none;
        }

        .carousel-caption {
            top: 140px;
        }

        .carousel-caption h5 {
            font-size: 40px;
            margin-top: 20px;
            letter-spacing: 10px;
        }

        .carousel-caption a {
            padding: 10px 15px;
            font-size: 15px;
            font-weight: 600;
            margin-top: 10px;
        }

    }